---
layout: default
title: 分类
permalink: /category/
---
<div class="home">
    {% for category in site.categories %}
    <h1 class="page-heading"># {{ category[0] }}</h1>
    <ul>
        {% for post in category[1] %}
        <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    {% endfor %}

    <!-- <p class="rss-subscribe">订阅 <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
