---
layout: page
title: 关于
permalink: /about/
---

<p>现在在北京一家互联网公司做PHP开发。</p>

<p>善良。理想主义。</p>

<p>有志同道合的盆友，可以一起玩耍。</p>

<div class="footer-col-wrapper">
<div class="footer-col footer-col-1">
<ul class="contact-list">
  <li>QQ: 415397228</li>
  <li>Github: <a href="https://github.com/aaronzjc">代码相关</a></li>
  <li>微博: <a href="https://weibo.com/2505245962/profile?topnav=1&wvr=6">吐槽相关</a></li>
  <li>豆瓣: <a href="https://www.douban.com/people/130433775/">电影之类</a></li>

</ul>
</div>
