/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    color: #50596c;
    text-rendering: optimizeLegibility;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 80%;
    max-height: 300px;
    vertical-align: middle;
}

p img {
  display: block;
  margin:0px auto;
  border: 2px solid #dadada;
  border-radius: 3px 3px;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid #41906c;
    padding-left: $spacing-unit / 2;
    font-size: 13px;
    font-style: normal;
    background: #f8f8f8 none repeat scroll 0 0;
    padding-top:1rem;
    padding-right: 0.5rem;
    padding-bottom:1rem;

    > :last-child {
        margin-bottom: 0;
    }

    p {
        font-family: monospace;
        margin-bottom: 4px;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 12px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: rgb(241, 243, 247);
    font-family: monaco, monospace;
}


code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/**
 * Videos
 */
 .video {
   margin:3px auto;
   min-height: 30px;
   min-width: 300px;
   max-width: 300px;
   max-height: 300px
 }
 .video video {
   width:100%;
   height: 100%;
 }

/**
 * pagination
 */
 .pagination {
     text-align: center;
 }

 code.highlighter-rouge {
    color: #417377;
 }

 .post-content {
   h1, h2, h3, h4, h5, h6 {
       color: #e06e38;
   }
 }

body p {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #667189;
}
